
.text{
   font-family: "Helvetica Neue", Helvetica;
   color: darkslategray;
}

.title{
  font-family: "Helvetica Neue", Helvetica;
  color: darkslategray;
  text-decoration: underline;
}

a:hover{
  background-color: lightblue;
}
a:visited{
  color: slategray;
  text-decoration: line-through;
}
a:link{
  color: darkslategray;
  text-decoration: none;
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transition: transform .5s;
  border-radius: 10%;
}

.image:hover{
  transform: scale(1.2);
}
